@keyframes blink {
    0% { opacity 1; }
    50% { opacity 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}

.prompt {
    color: black;
    font-family: monospace;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    margin-top: -1rem;
    width: 100%;
    text-align: center;
}

.title {
    color: white;
}

.title::after {
    content: '_';
    color: white;
    font-weight: bold;
    animation: blink 500ms linear 0s infinite;
    animation-direction: alternate;
}

.buttons {
    color: white;
    position: absolute;
    top: 60%;
    margin-top: -1rem;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.buttons-show {
    color: white;
    position: absolute;
    top: 60%;
    margin-top: -1rem;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
}

#github {
    margin-right: 1%;
}

#instagram {
    margin-left: 1%;
}

a { 
    color: white;
}
